.header-desktop{
    display: block;
}
.content-mobile{
    display: none;
    padding: 6px 0px;
}
.content-mobile ul li{
    list-style: none;
    line-height: 35px;
    display: inline-block;
}
.content-mobile span{
    font-size: 15px;
    color: white;
    padding-bottom: 2px;
    border-bottom: 1px solid gray;
}
.content-mobile .menu-head{
    margin-top: 15px;
    margin-left: 0;
}
.content-bottom .mobile{
    display: none;
}
.footer-mobile{
    display: none;
}
.footer{
    display: block;
}

@media all and (max-width:992px){
    .header-desktop{
        display: none;
    }
    .timKiem{
        height: 0px;
    }
    p#form-search{
        float: left !important;
        top: 15px !important;
        left: 5px !important;
    }
    input[type="text"]{
        font-size: 17px !important;
    }
    p.btnSearch{
        float: right !important; 
         top: 15px !important; 
         right: 5px !important;
    }
    button#btn{
        font-size: 12px;
    }
    .timKiem.active{
        height: 60px;
        overflow: hidden;
    }
    .menu-desktop{
        background: #696969;
    }
    .content-mobile{
        display: block;
    }
    .content-mobile{
        text-align: center;
    }
    .logo-menu {
        padding: 10px;
        float: left;
    }
    .giohang {
        position: inherit;
        margin: 0;
    }
    .content-mobile span{
        padding-bottom: 2px;
        border: none;
    }
    .header{
        background: #c3bbbb;
        position: relative;
    }
    button.menu-icon{
        float: right;
        font-size: 39px;
        margin: 10px;
        border: 1px solid black;
        border-radius: 5px;
    }
    .sologan{
        text-align: center;
    }
    .background-head .sologan span{
        font-size: 25px;
    }
    .background-head .background img{
        height: 150px;
    }
    section.background-head{
        background: #827564;
        position: relative;
    }
    .content-mobile .list-menu{
        display: block;
    }
    .content-mobile .item{
        display: list-item;
    }
    .content-mobile .item a{
        display: list-item;
        font-size: 20px;
        padding: 4px 0;
        color: black;
        border-bottom: 1px solid gray;
        text-decoration: none;
    }
    .content-mobile .list-menu{
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 245px;
        left: 0;
        background: #f1f2f7;
        height: 0;
        overflow: hidden;
        transition: height 1s ease-in-out;
        padding: 0;
    }
    .list-menu.open {
        height: 220px;
    }
    .content-mobile .menu-head li{
        padding: 0 20px;
    }
    .content-mobile .giohang-mobile button.cart-icon.dropdown-toggle {
        padding: 5px;
        background: gray;
        border: none;
    }
    .content .row .hover-image{
        height: 61px;
        overflow: visible;  
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .content .row .hover-image{
        height: 60px;
        overflow: visible;  
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    ul.details-left li input{
        height: 46px;
    }
    ul.details-right{
        margin-left: 3em;
        margin-bottom: 1em;
    }
    .col-lg-12.col-md-12.col-sm-12.col-sm-12{
        padding-left: 10px;
    }
    .tail{
        padding-left: 10px;
    }
    .title{
        margin: 0;
    }
    .title h3{
        margin-left: 0;
        font-size: 22px;
        width: 110px;
    }
    .title-newproduct h3{
        margin-left: 0;
    }
    .content .col-xs-12 {
        width: 100%;
    }
    form.themvaogio {
        margin-top: 10px;
    }
    .hover-image span {
        padding: 22px 14px;
    }
    .slide-background{
        background: url("./image/banner_home_background.jpg") no-repeat;
        height: 101px;
    }
    .content-bottom .container .row .col-xs-12{
        height: 200px;
    }
    .footer{
        display: none;
    }
    .footer-mobile{
        display: block;
        background: #ddd;
    }
    .footer-mobile .address a{
        text-decoration: none;
        color: black;
    }
    .footer-mobile .dangki li{
        list-style: none;
        display: inline-block;
    }
    .footer-mobile .dangki li i{
        font-size: 28px;
        padding: 0 10px;
    }
    .footer-mobile .icon-footer-right ul{
        padding: 0;
    }
    .footer-mobile .row{
        padding-top: 15px;
        border-top: 1px solid grey;
    }
    .dangki{
        margin-left: 25px;
        margin-top: 15px;
    }
    .footer-mobile .info{
        margin-left: 25px;
    }
    .footer-mobile .info a{
        text-decoration: none;
        color: black;
    }
    .source{
        margin-top: 15px;
    }
    span.back-to-top .fa{
        font-size: 40px;
    }
    span.back-to-top {
        width: 40px;
        height: 40px;
    }
    
}
/* Menu dành cho Desktop màn hình cỡ lớn */
@media all and (min-width:1230px){
    .header .header-desktop .menu-desktop ul li.item {
        display: inline-block;
        list-style: none;
        padding: 30px 22px;
        font-size: 20px;
        cursor: pointer;
    }
    .logo-menu {
        margin-left: 50px;
    }
    .giohang{
        right: 0;
    }
    span.fa.fa-stack {
        font-size: 8px;
        color: #e47f13;
    }
    .border-grid {
        height: 345px;
        position: relative;
    }
    .menu-desktop ul li:hover{
        background: #696969;
    }
    .menu-desktop .list-menu li:hover a{
        color: white;
    }
    button.cart-icon.dropdown-toggle:hover{
        background: white;
    }
    button.cart-icon.dropdown-toggle:hover button.cart-total{
        color:#ed3737;
    }
    button.cart-icon.dropdown-toggle:hover span#cart-total >span{
        color:#ed3737;
    }
    button.cart-icon.dropdown-toggle:hover i.fa.fa-shopping-cart{
        color:#ed3737;
    }
    .content-desktop .menu-head li:hover a{
        color: orangered;
    }
    .content-desktop .menu-head li:hover i{
        color: orangered;
    }
    .dropdown-menu li a:hover{
        color: orangered;
    }
    .border-image:hover .textbox{
        left: 0%;
        /* cho textbox nằm trong border-image
        và cách left 0%(=0) */
    }
    .textbox h3:hover{
        color: blue;
    }
    /* Kết thúc hover ảnh */
    .add ul li i:hover{
        background: #696969;
    }
    .themvaogio button:hover{
        background: white;
        color: red;
        border: 1px solid red;
    }
    .border-grid:hover img {
        transform: scale(1.1);
        transition: all 1s;
    }
    .content .row .hover-image span:hover{
        background: #e47f13;
    }
    .border-grid:hover .new{
        border: 2px solid skyblue;
        background: firebrick;
        color: white;
    }
    
}

@media all and (min-width:1095px) and (max-width: 1199px){
    .header .header-desktop .menu-desktop ul li.item{
        padding: 30px 10px;
    }
}
@media all and (min-width:1300px){
    .giohang{
        right: 30px;
    }
}