.clearfix{
    clear: both;
}
body{
    line-height: 1;
}
img{
    max-width: 100%;
    z-index: 1;
}
.logo-menu img{
    padding: 0;
}
.menu-head li img{
    padding: 0;
}

/* Menu cho Ipad pro */
.giohang{
    top: 25px;
    position: absolute;
    right: 0;
}
.logo-menu{
    margin-left: 15px;
}
.menu-desktop{
    position: relative;
    background: #696969;
}
.fix-menu{
    float: left;
}
/* Kết thúc Menu dành cho Ipad pro */

/* Header */
.container-fluid{
    padding: 0;
}
.header .header-desktop .menu-desktop ul li.item {
    display: inline-block;
    list-style: none;
    padding: 30px 0;
    font-size: 20px;
    cursor: pointer;
}
.header .header-desktop  .menu-desktop ul li.item a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
.menu-desktop ul li:hover >a{
    color: white !important;
}
.menu-desktop ul li:hover{
    border-bottom: 3px solid orangered;
}
.dangNhap{
    height: 0;
    transition: all ease-in-out 1.5s;
    text-align: center;
    line-height: 25px;
    opacity: 0;        
}
.dangNhap.active_login{
    transition: all 1.5s;
    padding: 15px 0 0 0;
    position: relative;
    height: 325px;
    width: 100%;
    background: #333;
    text-align: center;
    line-height: 25px;
    opacity: 1;
}
.form-dangNhap span a:hover{
    color: white;
}
.btnLogin button:hover{
    background: white;
    border: 1px solid #ed3737;
    transition: all ease-in-out 1s;
    color: #ed3737;
}
.form-dangNhap {
    padding: 20px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 50%; */
}
.btnLogin button{
    color: #fff;
    background: #ed3737;
    border: 1px solid #fff;
}
.forgot{
    display: block;
    margin-top: 10px;
    padding: 5px 0;
}

.dangNhap.active_login p{
    color: #e47f13;
    margin: 0;
    padding: 15px 0 2px 0;
}
.user input[type="tex"]{
    border: none;
    background: transparent;
    outline: none;
    color: white;
}
.pass input[type="password"]{
    border: none;
    background: transparent;
    outline: none;
    color: white;
}
.form-dangNhap p{
    color: #e47f13;
    font-size: 18px;
}

.user input[type="tex"]:focus 
{
    border-bottom: 2px solid white;
}
.pass input[type="password"]:focus
{
    border-bottom: 2px solid white;
}
.form-dangNhap input::placeholder{
    font-size: 12px;
}
li#search{
    cursor: pointer;
}
.timKiem{
    height: 0;
    transition: all ease-in-out 1.5s;
}
.timKiem.active{
    position: relative;    
    width: 100%;
    height: 80px;
    background: #333;
    border-bottom: 3px solid gray;   
}
.timKiem.active #form-search{
    position: absolute;
    display: block;
    top: 32%;
    right: 40%;
    margin: 0;
}
.timKiem.active #form-search input{
    border: none;
    font-size: 25px;
    outline: none;
    background: transparent;
    color: #fff;
}
input::placeholder{
    color: #ddd;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}
.timKiem.active #form-search input:focus{
    border-bottom: 3px solid #fff;
}
#form-search{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.btnSearch{
    display: none;
    position: absolute;
    
}
button#btn{
    
    font-size: 17px;
    padding: 5px;
}
.timKiem.active .btnSearch{
    margin: 0;
    top: 33%;
    right: 30%;
    display: block;
    float: right;
}
.timKiem.active .btnSearch #btn:hover{
    background: #ed3737;
    color: white;
}
.container-fluid{
    padding: 0;
}
.header{
    width: 100%;
}
.header .container-fluid .row{
    margin: 0;
}
.header .content-desktop .menu-head li{
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}
.header .content-desktop .menu-head a{
    text-decoration: none;
    color: white;
}
.header .content-desktop span{
    color: yellow;
    font-size: 13px;
}

.header .content-desktop li{
    color: white;
}
.header .fa-phone{
    font-size: 18px;
}
.header .content-desktop{
    background: #828282;
    height: 55px;
    padding: 18px 0 0 37px;
}

.logo-menu{
    float: left;
    padding-top: 14px;
}
.menu-desktop {
    background: #827564;
}

ul.list-menu{
    float: left;
    margin-bottom: 0;
    position: relative;
}

button.cart-icon.dropdown-toggle {
    background: #ed3737;
    padding: 5px 9px;
    border: 1px solid red;
}

.giohang i.fa.fa-shopping-cart {
    color: white;
}
span#cart-total >span {
    color: white;
    font-size: 12px;
}

.logo{
    max-width: 100%;
    margin-top: -13px;
}
/* Kết thúc header */

.sologan{
    text-align: center;
    padding-top: 8em;
}
.background-head .sologan span{
    font-size: 40px;
    color: white;
}
.background-head li{
    display: inline-block;
    list-style: none;
    padding: 0 5px;
    
}
.link{
    background: #827564;
    height: 50px;
    color: white;
    padding: 15px;
}
.link ul li a{
    color: white;
}
.background{
    background-image: url(D:/CODE/Front-End/Project/image/background_pagetily.jpg);
    height: 250px;
    background-position: center center;
    background-size: cover;
}

/* Content-Menu Sản Phẩm */


.content p{
    line-height: 18px;
}

section.content {
    padding-top: 50px;
}
.content ul li:hover {
    background: #ed3737;
}
.change-background{
    background: #e47f13 !important;
}

.content ul a{
    color: black;
    text-decoration: none;
}
.content ul li{
    list-style: none;
    font-size: 20px;
    padding: 8px 15px;
    border-bottom: 1px solid black;
    background: #e8e8e8;
}

.content ul{
    border: 1px solid black;
    /* margin: 10px 0; */
    padding: 0;
}
.col-lg-3.col-md-3 {
    padding-bottom: 40px;
}
.ds{
    color: floralwhite;
    font-style: unset;
    background: #696969;
    font-size: 25px;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 1px;
    border: 1px solid saddlebrown;
    cursor: pointer;
}
/* section.content {
    margin-top: 40px;
} */
.scale-image {
    border: 1px solid gray;
    text-align: center;
    position: relative;
    -webkit-perspective: 1000px;
    cursor: pointer;
}
.content-price a{
    font-size: 16px;
    text-decoration: none;
    color: unset;
}
.cont {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    /* text-align: center; */
    padding: 5px;
    height: 86px;
}
.sp-hover a{
    text-decoration: none;
    color: black;
}

.price .price-left{
    float: left;
    display: block;
    height: 35px;
}
.price .star{
    float: right;
}
.price {
    padding: 10px 0;
}
span.price-new {
    font-size: 15px;
    color: blue;
    /* padding-bottom: 22px; */
}
.priceleft {
    margin: 5px 0;
    padding: 23px 15px;
    width: 100%;
}
span.fa.fa-stack {
    font-size: 8px;
    color: orange;
}
.new {
    position: absolute;
    top: 15px;
    right: 35px;
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 5px;
    color: red;
}
.content .hover-image span{
    font-size: 14px;
    padding: 11px 5px;
}
.content .hover-image{
    position: absolute;
    background: #828282;
    width: 50%;
    top: 0;
    height: 100%;
    -webkit-transform: rotateY(0deg);
    transition: all ease 2.5s;
    -webkit-transform-origin: 0% 50%;
    opacity: 0;
}
.hover-beau {
    margin-top: 20%;
}
.sp-hover {
    margin-top: 33px;
    text-align: center;
}

.border-grid {
    margin-bottom: 37px;
}
.border-grid img{
    width: 250px;
    height: 250px;
}
span.price-old {
    text-decoration: line-through;
}
.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
    height: 375px;
}
/* => END - Content-Menu Sản Phẩm */


/* Footer */

.footer{
    background: #DCDCDC;
    width: 100%;
    border-top: 1px solid burlywood;
}

.footerlast{
    width: 100%;
    position: relative;
    padding: 0 45px;
}
.footerlast .dangki:hover{
    background: skyblue;
    color: azure;
    border-radius: 10px;
}
.footer .row{
    margin: 0;
}
.logol img{
    margin-left: 25px;
    
}
.address{
    margin-left: 25px;
    margin-top: 15px;
    float: left;
}
.address i{
    cursor: pointer;
    font-size: 25px;
}

.col-lg-3 ul li{
    list-style: none;
    line-height: 37px;
}
.col-lg-3 ul li{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
li a{
    color: black;
    text-decoration: none !important;
}
.address p a{
    color: black;
    text-decoration: none;
}
.iffooter{
    margin: 0;
    padding: 0;
}

.footer .footerlast .icon-footer-right ul li{
    display: inline-block;
    padding-right: 25px;
}
.icon-footer-right{
    margin-top: 15px;
    width: 229px;
}
.icon-footer-right ul li i{
    color: black;
    font-size: 27px;
}
.footerlast form{
    font-size: 14px;
}
.footerlast .row h3{
    font-size: 19px;
}
.footer .footerlast ul{
    padding: 0;
    margin: 0;
}
.footer .footerlast .col-lg-3{
    padding: 0;
}
.icon-footer-right a i:hover{
    color: skyblue;
}
.source{
    text-align: center;
}
.back-to-top{
    font-size: 80px;
    position: fixed;
    bottom: 6px;
    right: 40px;
    cursor: pointer;
}
.back-to-top:hover{
    color: skyblue;
}

ul.menu-head{
    padding: 0;
    margin-left: 123px;
}
.footer-icon{
    width: 77px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 15px;
}
.footer-icon:hover{
    background: white;
    border: 1px solid white;
}
.footer-icon:hover i{
    color: #e47f13;
}

.footer .footer-head .col-lg-4{
    padding-left: 30px;
    border-right: 1px solid rgb(204, 204, 204);
}
.footer .footer-head i{
    font-size: 50px;
    padding: 11px;
}
.footer .footer-head .row .footer-content{
    margin-left: 5px;
    margin-top: 5px;
}
.footer .footer-head a{
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    padding-left: 2px;
    color: black;
}
.footer .footer-head p{
    font-size: 12px;
    margin: 10px 0;
}
i.fa.fa-usd{
    padding-left: 23px;
}
.footer-head {
    padding: 15px 0;
}
.footer .footer-head .row{
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0 60px;
}
.footerlast a:hover{
    color: blue;
}
.dangki h4{
    padding-bottom: 6px;
}
/* End Footer */

/* Animate */
span.back-to-top{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #00567d;
    background: #04a9f5;
    box-shadow: 0 0 0 5px #fff, 0 5px 25px rgba(0,0,0,.8);
}
span.back-to-top .fa{
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffff;
    animation:animate 1.5s linear infinite;
    overflow: hidden;
}
@keyframes animate{
    0%{
        top: 20%;
    }
    40%{
        top: 60%;
    }
    60%{
        top: 30%;
    }
    80%{
        top: 60%;
    }
    100%{
        top: 80%;
    }
}